@{
    ViewData["Title"] = "Contact";
}
<h3>@ViewData["Message"]</h3>

<address>
    Maciej Sikorski
    <br />
    <abbr title="Telefon">796 655 550</abbr>
</address>

<address>
    <a href="mailto:biuro@computerman.pl">biuro@computerman.pl</a>
</address>
